
.App {
  display: flex;
  height: 100%;
  /* overflow: hidden; */
  height: 100vh;
}

.main {
  overflow-y: auto;
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  font-size: 18px;
  gap: 10px;
}

.sidebar {
  background-color: gainsboro;
  flex: 1;
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 200px; */
  gap: 5px;
}

.sidebar_menu {
  font-size: 22px;
  text-transform: uppercase;
  /* background-color: aliceblue; */
  padding: 2px;
    width: 100%;
    padding-left: 50px;
}

.sidebar_menu:hover {
  cursor: pointer;
}

.one_meal {
  
}


/* @media (max-width: 500px) {
  .app {
    flex-direction: column-reverse;
  }
  aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
} */